<!DOCTYPE html>
<html>
<head>
    <title>Text-to-Speech App</title>
</head>
<body>
    <h1>Text-to-Speech App</h1>
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <input type="file" name="file">  <!-- Ensure the name attribute is "file" -->
        <button type="submit">Submit</button>
    </form>
    {% if mp3_url %}
        <audio controls>
            <source src="{{ mp3_url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    {% endif %}
</body>
</html>
